body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 860px;
}

.header {
    padding: 40px 40px 0px;

    &__logo {
        max-width: 100px;
    }
}

.hambarger-open {
    .header {
        &__logo {
            display: none;
        }
    }
    .hambarger_icon {
        z-index: 30;
        &__line {
            &:nth-of-type(1) {
                transform: translateY(14px) rotate(-45deg)
            }
            &:nth-of-type(2) {
                transform: rotate(45deg)
            }
            &:nth-of-type(3) {
                transform: translateY(-14px) rotate(45deg)
            }
        }
    }

    .hambarger_layer {
        visibility: visible;
        opacity: 1;
    }

    .hambarger_menu {
        visibility: visible;
        opacity: 1;
        z-index: 20;
    }
}

.hambarger_icon {
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ff2a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 25px;

    &__line {
        background-color: #FFFFFF;
        width: 50px;
        height: 2px;
        transition: .5s ease;
    }
}

.hambarger_menu {
    visibility: none;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;

    &__logo_area {
        position: absolute;
        margin: 50px 40px 0px;
        max-width: 100px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        row-gap: 24px;
    }

    &__free_order {
        display: block;
        width: 250px;
        height: 50px;
        margin: 43px auto 0;
        padding: 15px 0;
        border: solid 1px #FFFFFF;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 250px;
            height: 50px;
            top: 6px;
            left: 6px;


            border-right: solid 1px #FFFFFF;
            border-bottom: solid 1px #FFFFFF;
        }
    }
}
.hambarger_layer {
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ff2a2a;
    transition: .5s ease;
}

.main_img {
    ul {
        position: relative;

        li {
            position: absolute;
            width: 70%;
            right: 0;
            animation: changeImage 12s infinite;
            opacity: 0;
            height: 720px;

            &:after {
                content: '';
                position: absolute;
                inset: 0;
                box-shadow: inset 0px 0px 20px 20px #FFFFFF;
            }

            &:nth-child(0) {
                animation-delay: 0s;
            }
            &:nth-child(1) {
                animation-delay: 4s;
            }
            &:nth-child(2) {
                animation-delay: 8s;
            }

            img {
                height: 100%;
            }
        }
    }
}

@keyframes changeImage {
    0% { opacity: 0; }
    15% { opacity: 1; }
    35% { opacity: 1; }
    45% { opacity: 0; }
    100% { opacity: 0; }
}