body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 860px;
}

.header {
    padding: 50px 40px 0px;

    &__logo {
        max-width: 100px;
    }
}

.hambarger-open {
    .hambarger_icon {
        &__line {
            &:nth-of-type(1) {
                transform: translateY(14px) rotate(-45deg)
            }
            &:nth-of-type(2) {
                transform: rotate(45deg)
            }
            &:nth-of-type(3) {
                transform: translateY(-14px) rotate(45deg)
            }
        }
    }
}

.hambarger_icon {
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff2a2a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 25px;

    &__line {
        background-color: #FFFFFF;
        width: 50px;
        height: 2px;
        transition: .5s ease;
    }
}

.hambarger_menu {
    display: none;
}